*{
    margin: 0px;
    padding: 0px;
}
body{
    
    width: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/jazz-bg-texture-min_1.jpg?v=1616673456);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-repeat: repeat-y;
    height: 100%; 
}

#bread{
    height: 110px;
    width: 100%;
    margin-top: -15px;
    background-color: #437111;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    padding-bottom:20px;
    padding-top: 5px;
    align-items: center;
    z-index: 1;
}

#bread>div{
    margin: auto;
    margin-top: 7px;
    height: 33%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}
#bread a{
    text-decoration: none;
    color: #fff;
}
#bread a:visited{
    text-decoration: none;
    color: #fff;
}
#bread a:hover{
    text-decoration: underline;
    cursor: pointer;
    text-rendering: optimizeSpeed;
}
#home_icon{
    height: 40%;
    margin-right: 10px;
    background-color: transparent;
}
#others{
  width: 100%;
}
#cart_data{
    min-height: 50vh ;
    width: 100%;
}
#details{
    width: 100%;
}
#details>div:nth-child(1){
    padding: 50px 0px 50px 0px;
    text-align: center;
    width: 500px;
    margin: auto;
}
#details>div:nth-child(1)>h3{
    
    color: rgb(54, 42, 42);
}
#details>:nth-child(1)>label{
    font-size: larger;
}
.pin{
    width: 90%;
    height: 50px;
    margin: 30px 0px 30px 0px;
    font-size: larger;
    padding-left: 5px;
}
#order_info{
    width: 70%;
    margin: auto;
    background-color: #fff;
    min-height: 300px;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
}
#order_info>div:nth-child(1){
    width: 50%;
    text-align: center;
}
#order_info>div:nth-child(2){
    width: 50%;
    text-align: center;

}
#order_info>div:nth-child(2)>button{
    width: 80%;
    height: 50px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    border: 0px;
    color: #fff;
    background-color: #98cb4c;
}
#order_info>div:nth-child(2)>button:hover{
    background-color: #437111;
}
#cart_total{
    text-align: left;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 20px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
    
}
#cart_total>div{
    display: flex;
    height: 40%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#cart_total>div:nth-child(1){
    font-size: 25px;
}
#cart_total>div:nth-child(2){
    font-size: 20px;
}
textarea{
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


